<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://queuetriggerfunctionapp01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3e995232-e3a4-4462-a6b9-b596aa290d9d/resourcegroups/ingensoft-rg/providers/Microsoft.Web/sites/QueueTriggerFunctionApp01</ResourceId>
    <UserName>$QueueTriggerFunctionApp01</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://queuetriggerfunctionapp01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>